html,body {
	padding: 0px;
	margin: 0px;	
	background-color: #fafafa;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
}

#main {
	width: 100%;
}

#left-main {
	width: 468px;
	height: 100%;
	float: left;
	text-align: center;
}

#right-main {
	width: 468px;
	height: 100%;
	float: left;
	padding-top: 73px;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
}

#logo {
	width: 70%;
}

#footer {
	width: 100%;
	height: 100px;
	background-color: #AACCDD;
}

.clr {
	clear: both;
}

.white-panel {
	background-color: white;
	border: 1px solid rgb(230,230,230);
	border-radius: 3px;
	padding: 30px 35px;
	margin-bottom: 8px;
	text-align: center;
}

.field input{
	width: 100%;
	padding: 8px;
	border-radius: 3px;
	margin-bottom: 10px;
	outline: none;
	font-size: 14px;
	box-sizing: border-box;
}

.field input[type="text"] {	
	border: 1px solid #efefef;
	background-color: #fafafa;	
}

.field input[type="submit"] {
	background-color: #3b5998;
	color: white;
}

/*----BREAKPOINTS FOR SCREENS----*/
/*Anything higher for XL screens*/
/*960 for large screens*/
/*480 for iPads/tablets*/
/*320 for phone screens*/
@media screen and (max-width: 960px) {
	#left-main {
		display: none;
	}

	#right-main {
		width: 100%;
		float: none;
		padding: 20px;
	}
}
